<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friends - Logged in</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'friends/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div class="container">
        <h1>Welcome {{user.alias}}! <a href="{%url 'logout'%}">Logout</a></h1>
        <p>Here is your list of friends:</p>
        <table>
                <thead>
                    <tr>
                        <th>Alias</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                        {% for friend in friends %}
                        <tr>
                            <td><a href="{%url 'view' id=friend.id %}">{{friend.alias}}</a></td>
                            <td><a href="{%url 'remove' id=friend.id %}">Remove Friend</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        <p>Other users not on your friends list:</p>
        <table>
            <thead>
                <tr>
                    <th>Alias</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                    {% for user in all_users %}
                    <tr>
                        <td><a href="{%url 'view' id=user.id %}">{{user.alias}}</a></td>
                        <td><form action="{%url 'add' id=user.id%}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Add Friend">
                            </form></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        {% if messages %}
            {% for message in messages %}
            <p{% if message.tags %} class="message"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}

    </div> <!-- end container -->
    
</body>
</html>